!
hostname {{ data.DcimDevice.edges[0].node.name.value }}
!
{%   for intf in data.DcimDevice.edges[0].node.interfaces.edges %}
interface {{ intf.node.name.value }}
{%      if intf.node.description.value %}
   description "{{ intf.node.description.value }}"
{%      endif %}
{%      if not intf.node.status.value == "active" %}
   shutdown
{%      endif %}
{%      if intf.node.mtu.value %}
   mtu {{ intf.node.mtu.value }}
{%      endif %}
{%      if intf.node.ip_addresses.edges %}
{%         for ip in intf.node.ip_addresses.edges %}
   no switchport
   ip address {{ ip.node.address.value  }}
{%            if intf.node.role.value == "peer" or intf.node.role.value == "backbone" %}
   ip ospf area 0.0.0.0
{%            endif %}
{%         endfor %}
{%      else %}
{%         if intf.node.l2_mode %}
{%             if intf.node.l2_mode.value == "access" %}
   switchport access vlan {{ intf.node.untagged_vlan.node.vlan_id.value }}
{%             endif %}
{%         endif %}
{%      endif %}
!
{%   endfor %}
interface Management0
   ip address {{ data.DcimDevice.edges[0].node.primary_address.node.address.value }}
!
end